* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #ffffff;
  color: #143e44;
  font-weight: 520;
}

header {
  background-color: rgb(154, 155, 157);
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  justify-content: flex-start;
  color: #144d2d;
  font-family: "Lora", serif;
}

header nav ul li {
  display: inline;
  padding-left: 1.2rem;
}
nav ul li a {
  text-decoration: none;
  color: #0d301c;
  font-weight: 600;
}

nav ul li a:hover {
  text-decoration: underline;
}

#toggle {
  background-image: url("toggle.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 30px;
  height: 5vh;
  width: 9vh;
  animation: bounce 6s ease infinite;
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

footer {
  padding: 20px;
  background-color: #2c3e50;
  color: #f9f4e6;
}
footer h2 {
  color: #f9f4e6;
  font-family: "Lora", serif;
}
footer .container {
  min-height: 52vh;
  position: relative;
  padding: 1rem;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  width: 40%;
  gap: 1rem;
  margin-bottom: 1rem;
}
.input-wrapper input {
  flex: 1;
  width: 40vh;
  height: 5vh;
  border-radius: 6px;
}

.input-wrapper label {
  width: 30%;
}

input[id="message"] {
  min-height: 10vh;
}

.input-wrapper input {
  flex: 1;
}

#messageBtn {
  min-width: 20vh;
  min-height: 6vh;
  margin: 0 auto;
  margin-top: 1.2rem;
}
.container p {
  font-size: 0.7rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#backtotop {
  position: fixed;
  bottom: 30px;
  right: 0%;
  transform: translateX(-50%);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-toggle {
  display: none;
}

.mobile-menu {
  display: none;
}

section:first-child {
  background-color: #f7f3e9;
  color: #5e2129;
  min-height: 60vh;
  padding: 10px 20px 0px 20px;
}
section:nth-child(2) {
  background-color: #e5dece;
  color: #5e2129;
  min-height: 60vh;
  padding: 10px 20px 0px 20px;
}

.section1,
.section2,
.section3 {
  margin: 0 auto;
  max-width: 250vh;
  min-height: 60vh;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px;
  padding: 60px;
}
h2 {
  padding-left: 2vh;
  padding-top: 2vh;
  color: #223242;
  font-family: "Lora", serif;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about-text {
  margin-left: 2vh;
  line-height: 2rem;
  flex-wrap: wrap;
  text-align: justify;
}

.about-img {
  width: 250%;
  padding-left: 80px;
  padding-right: 80px;
}
.about-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  min-width: 12vh;
  min-height: 7vh;
  border-radius: 5px;
  background-color: #fd7758;
  color: white;
  font-weight: 550;
  cursor: pointer;
}
button:hover {
  background-color: #f4512d;
  color: white;
  transform: scale(1.1);
  transition: 0.7s ease-in-out;
}

#seemore {
  margin-top: 4vh;
  font-size: 1rem;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vh;
  padding-bottom: 10px;
  gap: 1rem;
}

.box {
  width: 40vh;
  min-height: 30vh;
  border-radius: 5px;
  background-color: #226f71;
  color: rgb(3, 59, 84);
  display: flex;
  justify-content: space-around;
  box-shadow: inset 2px 2px 2px 2px rgb(7, 70, 84);
  display: flex;
  flex-direction: column;
}

.boxes .box .image {
  padding: 15px;
  border-radius: 5px;
}

.box .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.image:hover {
  animation: rotate 2s linear;
}

.box .text {
  padding-left: 15px;
  padding-bottom: 15%;
  line-height: 2rem;
  color: #ffffff;
}
.text .seemore {
  text-decoration: underline;
}

section:last-child {
  background-color: #dad1bc;
  color: #5e2129;
  min-height: 60vh;
  padding: 10px 20px 0px 20px;
}

.skills {
  margin-left: 2vh;
  margin-right: 2vh;
  line-height: 1.8rem;
  flex-wrap: wrap;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(11, 12, 12, 0.417);
}

.overlay.active {
  visibility: visible;
}
.model h2 {
  margin-left: 0vh;
}
.model {
  height: 80vh;
  width: 70vh;
  background-color: #f0e7df;
  position: relative;
  padding: 40px;
  line-height: 2;
}

.model button {
  display: block;
  position: absolute;
  top: 10px;
  height: 50px;
  right: 10px;
}

.hidden {
  display: none;
}

.hero-section {
  background-color: whitesmoke;
}
.hero-image {
  position: relative;
}

.hero-image img {
  width: 100%;
  height: auto;
  max-height: 100vh;
  border-radius: 10px;
  object-fit: fill;
  filter: blur(15px);
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  transform: translate(
    -50%,
    -50%
  ); /* move horizontally and vertically by 50% based on height and width */
  text-align: center;
  font-family: "Lora", serif;
}

.hero-text h1 {
  text-transform: uppercase;
}

/* Dark backgroundcolor*/

.dark-mode {
  background-color: #233d50;
}

.dark-mode header {
  background-color: #233d50;
  color: white;
}
.dark-mode header h1 {
  color: white;
}
.dark-mode h2 {
  color: white;
}

.dark-mode .model {
  background-color: #153950;
  color: white;
}

.dark-mode section:first-child {
  background-color: rgb(18, 55, 85);
  color: white;
}
.dark-mode section:last-child {
  background-color: rgb(11, 42, 68);
  color: white;
}

.dark-mode section:nth-child(2) {
  background-color: #0c314f;
  color: #eaeaea;
}
.dark-mode .box {
  background-color: #062743;
}
.dark-mode .box .text {
  color: white;
}

.dark-mode button {
  background-color: #a79d9d;
  color: black;
}

.dark-mode footer {
  background-color: rgb(6, 30, 49);
  color: cornsilk;
}

.dark-mode nav ul li a {
  color: white;
}

.dark-mode .hero-text {
  color: #e1e0e0;
}

@media (max-width: 500px) {
  .hero-text {
    position: absolute;
    top: 1%;
    left: 50%;
  }
}

@media (max-width: 768px) {
  .hero-text {
    position: absolute;
    top: 60%;
    left: 50%;
  }

  .input-wrapper {
    width: 60%;
  }

  .section1,
  .section2,
  .section3 {
    padding: 2rem;
    margin: 0 auto;
    max-width: 760px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
  h1 {
    font-size: 1.4rem;
  }
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-img {
    width: 100%;
    padding: 20px;
  }
  .about-img img {
    height: auto;
    object-fit: cover;
  }
  .about-text {
    width: 100%;
    margin: 0;
  }
  .boxes {
    display: flex;
    flex-direction: column;
  }
  .box {
    min-width: 50%;
  }

  .mobile-menu.active {
    display: block;
  }

  .desktop-menu {
    display: none;
  }
  button {
    min-height: 6vh;
  }

  .menu-toggle {
    display: block;
    width: 5px;
    height: 4px;
  }
  nav ul {
    flex-direction: column;
    text-align: center;
  }
}
